* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  color: #191919;
}

h1 {
  font-size: 1.8em;
  margin-top: 45px;
  margin-left: 59px;
  color: #191919;
  font-family: "open sans", sans-serif;
  margin-bottom: 38px;
}

h4 {
  margin-top: 45px;
  margin-bottom: 15px;
  margin-left: 29px;
  font-size: 1.5em;
  font-family: "open sans", sans-serif;
  color: #191919;
}

p {
  margin-bottom: 30px;
  margin-left: 29px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "open sans", sans-serif;
  color: #191919;
}

.add-to-cart {
  width: 206px;
  height: 45px;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 105px;
}

.message {
  border: 1px solid #b9aaab;
  color: #d9d2d5;
  margin-top: 1rem;
  padding: 1rem;
}

.footer-text {
  font-family: "open sans", sans-serif;
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  h4, p {
    margin-left: 217px;
  }
}

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .hamburger {
  position: absolute;
  right: 24px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #221f1f;
  cursor: pointer;
}

nav .bar {
  display: inline-block;
  width: 30px;
  margin: 3px;
  border: 1px solid #161515;
}

nav .bar.two {
  width: 24px;
}

nav .menu-links {
  display: none;
  position: relative;
  top: 15px;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .menu-links li {
  list-style: none;
}

nav li a {
  display: block;
  color: #604242;
  text-align: center;
  padding: 10px 10px 0px 10px;
  text-decoration: none;
  font-size: 1.3em;
  width: 355px;
  height: 70px;
  font-family: "open sans", sans-serif;
  font-weight: bold;
}

nav li a:hover:not(.active) {
  background-color: #83654A;
}

nav li a.active {
  color: white;
  background-color: #83654A;
}

.login-button-toggle {
  font-size: 1em;
}

.logo {
  font-size: 1.1em;
  margin-left: 24px;
  margin-top: 24px;
  /*display: inline-block;*/
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin-bottom: 45px;
  height: 19px;
  width: auto;
}

@media only screen and (min-width: 1366px) {
  .logo {
    height: 26px;
    margin-top: 34px;
    margin-left: 34px;
  }
  nav .hamburger {
    right: 34px;
    top: 34px;
  }
}

/*SETT SAMMEN*/
.cover-image {
  height: 213px;
}

.featured-container {
  /*display: flex;*/
  padding: 1rem;
  max-width: 1200px;
  margin: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-container {
  padding: 1rem;
  max-width: 1200px;
  margin: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.detail-container {
  /*display: flex;*/
  padding: 1rem;
  max-width: 1200px;
  margin: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*SETT SAMMEN*/
.product {
  text-decoration: none;
}

.product-images {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #d9d2d5;
  width: 206px;
  height: auto;
  margin-bottom: 14px;
  margin-left: 29px;
  -webkit-box-shadow: 0px 0px 26px -2px #b9aaab;
          box-shadow: 0px 0px 26px -2px #b9aaab;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-box {
  width: 150px;
  height: auto;
  border-radius: 6px;
  margin-left: 58px;
}

.loader {
  border-radius: 50%;
  width: 120px;
  border: 16px solid #83654A;
  border-top: 16px solid brown;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*FOOTER*/
footer {
  height: 187px;
  margin-top: 144px;
  width: 100%;
  background-color: #83654A;
  font-family: "open sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  left: 0;
}

footer .text-footer {
  font-size: 0.8em;
  color: white;
  font-weight: 500;
  padding-top: 45px;
}

@media only screen and (min-width: 375px) {
  .cover-image {
    height: 250px;
  }
  h1 {
    margin-left: 59px;
  }
  .product-images {
    width: 250px;
  }
}

@media only screen and (min-width: 414px) {
  .cover-image {
    height: 275px;
  }
}

@media only screen and (min-width: 768px) {
  .cover-image {
    height: 512px;
  }
  .product-images {
    margin-left: 217px;
  }
}

@media only screen and (min-width: 1366px) {
  .cover-image {
    height: 728px;
    background-position: center;
    margin-left: 303px;
  }
  h1 {
    margin-left: 286px;
  }
  .product-images {
    width: 375px;
  }
}

/*
 .login-hidden {
    display: none;
}

.login-button-toggle {
    width: auto;
}*/
button {
  background-color: #257363;
  color: #fcfcfc;
  margin: 8px 0;
  padding: 14px 20px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  width: 80%;
  font-family: "ubuntu", sans-serif;
  margin-bottom: 65px;
}

button button:hover {
  opacity: 0.8;
}

button input {
  margin-top: 4px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

button form {
  background: #fcfcfc;
  padding: 4px;
  border-radius: 1px;
}

button label {
  margin-top: 1rem;
  display: block;
}

button .form-error {
  display: none;
  margin-top: 4px;
  color: red;
  font-size: larger;
}

button .message.error {
  color: red;
  border-color: red;
}

button .message.success {
  color: green;
  border-color: green;
}

button .cancelbtn {
  padding: 10px 18px;
  width: auto;
  background-color: #257363;
}

button .imageContainer {
  margin: 24px 0 12px 0;
  text-align: center;
  position: relative;
}

button img.avatar {
  border-radius: 50%;
  width: 40%;
}

button .formContainer {
  padding: 16px;
}

button .modal {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #b9aaab;
  background-color: #191919;
  padding-top: 60px;
}

button .modal-content {
  background-color: #fcfcfc;
  margin: 5% auto 15% auto;
  border: epx solid #83654A;
  width: 80%;
}

button .close {
  position: absolute;
  right: 25px;
  color: #fcfcfc;
  top: 0;
  font-size: 35px;
  font-weight: bold;
}

button .close:hover,
button .close:focus {
  color: red;
  cursor: pointer;
}

button .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

button .productView {
  font-size: 3em;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  button span.spw {
    display: block;
    float: none;
  }
  button .canselbtn {
    width: 100%;
  }
}

button input[type=text], button input[type=password] {
  padding: 12px 20px;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d9d2d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  button {
    margin-left: 219px;
    width: 36%;
  }
}

/* Credits:
 Icons made by Smashicons at https://www.flaticon.com/

 */
/*# sourceMappingURL=style.css.map */