
    * {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-size: 16px;
    }


body {
    background-color: getColour(white);
    margin: 0;
    color: getColour(black);
}

h1 {
    font-size: 1.8em;
    margin-top: 45px;
    margin-left: 59px;
    color: getColour(black);
    font-family: $font-primary;
    margin-bottom: 38px;
}

h4 {
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 29px;
    font-size: 1.5em;
    font-family: $font-primary;
    color: getColour(black);
}

p {
    margin-bottom: 30px;
    margin-left: 29px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: $font-primary;
    color: getColour(black);
}



//SLETTE

.add-to-cart {
    width: 206px;
    height: 45px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 105px;
}

//SLETTE

.message.error {
    color: red;
    border-color: red;
}

.message.success {
    color: green;
    border-color: green;
}

.message {
    border: 1px solid getColour(secondary);
    color: getColour(primary);
    margin-top: 1rem;
    padding: 1rem;
}

.footer-text {
    font-family: $font-primary;
    font-size: 2em;
}
@media only screen and (min-width : 768px)  {
    h4, p {
        margin-left: 217px; 
    }
   
}