
    * {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-size: 16px;
    }


body {
    background-color: getColour(white);
    margin: 0;
    color: getColour(black);
}

h1 {
    font-size: 1.7em;
    margin-top: 27px;
    margin-left: 60px;
    color: getColour(black);
    font-family: $font-primary;
    margin-bottom: 6px;
}

h4 {
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 31px;
    font-size: 1.3em;
    font-family: $font-primary;
    color: getColour(black);
}

p {
    margin-bottom: 30px;
    margin-left: 31px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: $font-primary;
    color: getColour(black);
}

//SLETTE

.add-to-cart {
    width: 206px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 105px;
}
.cart-header {
    margin-left: 30px;
    margin-bottom: 45px;
}
//SLETTE

.message {
    border: 1px solid getColour(secondary);
    color: getColour(primary);
    margin-top: 1rem;
    padding: 1rem;
}
.cart-container {
    font-size: 1.3em;
    margin-left: 30px;
}
.footer-text {
    font-family: $font-primary;
    font-size: 2em;
}
@media only screen and (min-width : 768px)  {
    
    h4, p {
        margin-left: 217px; 
    }
    .add-to-cart {
        margin-left: 217px;
    }
   
}


@media only screen and (min-width : 1366px) {

    .add-to-cart {
        margin-left: 334px;
    }
}


