nav {
    justify-content: space-between;
    align-items: center;
    display: flex;

    .hamburger {
        position: absolute;
        right: 28px;
        top: 61px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: rgb(34, 31, 31);
        cursor: pointer;
    }
    .bar {
        display: inline-block;
        width: 30px;
        margin: 3px;
        border: 1px solid rgb(22, 21, 21);
    }
    .bar.two {
        width: 24px;
    }
    
    .menu-links {
        display: none;
        position: relative;
        top: 15px;
        background: white;
        flex-direction: column;
    }

    .menu-links li {
        list-style: none;
    }
    
    li a {
        display: block;
        color:#604242;
        text-align: center;
        padding: 10px 10px 0px 10px;
        text-decoration: none;
        font-size: 1.2em;
        width: 301px;
        height: 70px;
        font-family: $font-primary;
        font-weight: bold;
    }
    
    li a:hover:not(.active) {
        background-color: getColour(secondary);
    }
   
    li a.active {
        color: white;
        background-color: getColour(secondary);
    }

}
.login-button-toggle {
font-size: 1em; 
}
.logo {
    font-size: 1.1em;
    margin-left: 14px;
    margin-top: 38px;
    /*display: inline-block;*/
    box-shadow: none;
    border: none;
    margin-bottom: 45px;
    height: 19px;
    width: auto;
}

@media only screen and (min-width : 768px) {
   ul.menu-links {
       top: -3px;
   }
   nav li a {
       width: 748px;
   }
   nav .hamburger {
       top: 77px;
   }
}


@media only screen and (min-width : 1366px) {
    .logo {
        height: 26px;
        margin-top: 34px;
        margin-left: 34px;
    }

    nav .hamburger {
        right: 34px;
        top: 55px;
    }
    nav li a {
        width: 1668px;
    }
    h1 {
        margin-left: 304px;
    }
}

